__pycache__/
.venv/
env/

# Data and Results (NEVER commit raw data or huge result sets)
data/
results/

# Specific file types to ignore
*.log
*.ipynb_checkpoints

# Operating system files
.DS_Store
Thumbs.db
